.layout {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  max-width: 400px;
}

.image {
  width: 400px;
  height: 400px;
}

.label {
  width: 400px;
  height: 18px;
  margin: 1rem 0;
}

.image:after,
.label::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #f5f7f9;
  background-color: #f5f7f9;
  box-sizing: border-box;
  background-image: linear-gradient(
    90deg,
    rgba(229, 234, 239, 0.1) 0%,
    rgb(229, 234, 239, 1) 50%,
    rgba(229, 234, 239, 0.1) 100%
  );
  background-size: 65.57% 100%;
  background-position: -150% 0;
  background-repeat: no-repeat;
  animation: 2s linear 1s infinite alternate loading;
}

@keyframes loading {
  to {
    background-position: 350% 0;
  }
}
